/* リセットCSS */
body {
  font-family: serif;
  font-size: 14px;
  color: black;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  background-color: #003366;
}

.header-left {
  width: 60%;
  padding-left: 30px;
}

.brand {
  margin-top: 5px;
  width: 300px;
}

.header-right {
  width: 25%;
  margin-top: 20px;
}

.navigation {
  display: flex;
  color: white;
  float: right;
}

.navigation a {
  text-decoration: none;
  color: white;
  margin-right: 10%;
  white-space: nowrap;
}

/* main */
.main {
  width: 100%;
}

.top-wrapper {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("images/top.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 50%; */
  padding-top: 62.5%;
  position: relative;
  margin-bottom: 10%;
}

.background {
  position: absolute;
  top: 20%;
  left: 52.5%;
  color: white;
  font-size: 120%;
  white-space: nowrap;
}

.top-wrapper2 {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("images/second-img.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 62.5%;
  position: relative;
  margin-bottom: 10%;
  display: block;
}

.background2 {
  position: absolute;
  top: 2%;
  left: 2.5%;
  color: black;
  font-size: 120%;
  flex-wrap: wrap;
  width: 45%;
}

.top-wrapper3 {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("images/third-img.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 500px; */
  padding-top: 62.5%;
  position: relative;
}

.background3 {
  position: absolute;
  top: 20%;
  left: 52.5%;
  color: black;
  font-size: 120%;
  white-space: nowrap;
}

footer {
  /* height: 30%; */
  background-color: #003366;
  width: 100%;
  text-align: right;
}

.footer a {
  background-color: #003366;
  text-align: center;
}

.brand2 {
  height: 75px;
}

/* レスポンシブ携帯 */
@media screen and (max-width: 599px) {
  header {
    display: flex;
    width: 100%;
    height: 25px;
    background-color: #003366;
  }
  
  /* .header-left {
    width: 40vw;
    float: right;
    padding-left: 30px;
  } */
  
  .brand {
    width: 80%;
  }
  
  .header-right {
    margin-left: 5px;
    margin-top: 1.8%;
  }
  
  .navigation {
    width: 100%;
    padding-left: 15%;
  }
  
  .navigation li {
    margin-left: 10px;
    white-space: nowrap;
  }
  
  .navigation a {
    font-size: 6px;
  }


  .background {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    font-size: 3px;
    white-space: nowrap;
  }

  .top-wrapper {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("images/top.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 62.5%;
  }

  .background2 {
    position: absolute;
    top: 5%;
    left: 2.5%;
    color: black;
    width: 40%;
  }
  
  .background2 h1, .background2 h3 {
    font-size: 60%;
  }


  .background2 p {
    font-size: 6px;
    flex-wrap: wrap;
  }
  
  
  .background3 {
    position: absolute;
    top: 10%;
    left: 45%;
    color: black;
    font-size: 3px;
    white-space: nowrap;
  }

  .top-wrapper3 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("images/third-img.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 62.5%;
  }
}

/* i pad  */
@media screen and (max-width: 1000px) {

}

